@font-face {
    font-family: 'Comfortaa';
    src: url('/fonts/Comfortaa.woff2') format('woff2'),
        url('/fonts/Comfortaa.woff') format('woff'),
        url('/fonts/Comfortaa.ttf') format('truetype');
}

@font-face {
    font-family: 'Loyola';
    src: url('/fonts/Loyola.woff2') format('woff2'),
        url('/fonts/Loyola.woff') format('woff'),
        url('/fonts/Loyola.ttf') format('truetype');
}

body {
    background-color: white;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

.topbar {
    color: white;
    background-color: darkred;
    margin: 0;
    padding: .5%;
    padding-left: 1%;
    padding-top: 1%;
    text-decoration: none;
    font-size: 200%;
    overflow: hidden;
    font-family: 'Comfortaa';
}

.codeDiv {
    margin: 0;
    padding: 1%;
    color: rgb(131, 131, 131);
    font-size: 130%;
    overflow: hidden;
    padding-top: 5%;
    font-family: 'Loyola';
}

#code {
    text-align: center;
    font-size: 300%;
    margin: 0;
    color: rgb(131, 131, 131);
    padding: 0;
}